/*preliminary things*/

:root {
  /*main theme color*/
  --m-t-color: #e8175d;
  /*main theme lighter*/
  --m-t-l-color: rgb(232, 23, 93, 0.6);
  /*main pallete color*/
  --m-p-color: rgb(0, 0, 0, 0.8);
  /*main font color*/
  --m-f-color: rgb(255, 255, 255);
  /*font secondary color*/
  --f-s-color: rgb(206, 203, 203);
}
*::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
i {
  font-size: 1rem;
}
div {
  position: relative;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--m-f-color);
  margin: 0;
  width: 100%;
  background-image: url("resources/Images/Body/bodybg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/*Animations*/

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes swing {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(20deg);
  }
  75% {
    transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-110%);
  }
}

/*self created classes*/

/*positions*/

.position-absolute {
  position: absolute;
}

/*Dropdown lists*/

.pointer-cursor {
  cursor: pointer;
}
.dropdown-checkbox {
  display: none;
}

.dropdown-list {
  width: auto;
  display: none;
  position: absolute;
  top: 3rem;
  background-color: var(--m-p-color);
  box-shadow: 0 0 2px 1px var(--m-p-color);
  border-radius: 2px;
  z-index: 1;
}

.dropdown-checkbox:checked + .dropdown-list {
  display: block;
}

.dropdown-list li {
  padding: 0.5rem 1rem;
  list-style-type: none;
  border-bottom: 2px solid var(--m-t-color);
}
.dropdown-list li a {
  text-decoration: none;
  color: var(--m-f-color);
  font-weight: 600;
}

.dropdown-list li a:hover {
  color: var(--m-t-l-color);
}

/*flexbox*/
.display-flex {
  display: flex;
}
.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

/*on hover events*/

.on-hover-scale:hover {
  transform: scale(1.2);
  z-index: 1;
}

.highlight-hover:hover {
  box-shadow: 0 0 6px 0.7px var(--m-t-l-color);
}

.on-hover-color:hover {
  color: red;
}

/*border classes*/

.rounded-border {
  border-radius: 50%;
}

/*margins*/

.mb-point5 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

/*font*/

.fs-smallest {
  font-size: 0.8rem;
  color: var(--f-s-color);
}

.f-bold {
  font-weight: bold;
}

/*overflow*/

.scroll-overflow {
  overflow: auto;
}

/*navigation bar*/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem;
  background-image: linear-gradient(var(--m-p-color) 40px, transparent);
  z-index: 2;
}

/*logo part -left of nav*/
#logo-fav {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-fav img {
  animation: rotate 3s ease-in-out 0s infinite;
}
.nav-inner {
  display: flex;
  align-items: center;
}
#logo-name {
  margin-left: -1.4rem;
}

figure {
  overflow: hidden;
  width: 50px;
  height: 50px;
}

/*search and user, right part of nav*/
#search-user {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#search-input {
  background-color: white;
  border-radius: 20px;
  padding: 0.5rem 20px;
  display: flex;
  justify-content: space-between;
}
#search-input input {
  padding: 2px;
  border: none;
  text-align: center;
}
#search-input i {
  color: var(--m-t-color);
}
input:focus {
  outline: none;
}
#notification {
  padding: 3px;
  animation: swing 1s linear 3;
}

#dot {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  color: red;
}

/*navigation ends here*/

/*content section ---overall layout of the content*/

#content {
  height: 80vh;
  /* border: 2px solid red; */
  top: 8rem;
  width: 90%;
  margin: auto;
  grid-template-columns: 70% 30%;
  grid-template-rows: 45% 55%;
}

.grid {
  display: grid;
}

.grid-item {
  box-sizing: border-box;
  padding: 0.6rem;
  /* border: 2px solid white; */
}

.grid-box {
  height: 100%;
  width: 100%;
  /* border: 3px solid blue; */
  box-shadow: 0 0 -4px 0.4px var(--m-t-color);
}

/*grid-box-1 --------artist box*/

#artist-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.artist-box-item {
  /* border: 2px solid green; */
  height: 100%;
  width: auto;
}

.artist-box-item img {
  max-width: 300px;
}

.artist-box-item:nth-child(2) {
  height: 90%;
  margin-right: 0.5rem;
  width: 50%;
}

#artist-box button {
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    var(--m-t-color),
    var(--m-p-color)
  );
}

/*grid box -1, artist ends here*/

/*grid box-2, similar artists starts here*/

.box-heading {
  height: 50px;
  background-color: var(--m-p-color);
  box-sizing: border-box;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  margin-bottom: 0.3rem;
}
.s-a-item {
  height: 80px;
  margin-bottom: 0.2rem;
}
.info {
  flex-grow: 1;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
}
.options {
  width: 20%;
  height: 100%;
  /* border: 2px solid rgb(27, 60, 20); */
  box-sizing: border-box;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*grid box -----similar artist ends here*/

/*playlist---grid box 3*/

.music-item {
  height: 85px;
  /* border: 2px solid white; */
  position: relative;
  box-shadow: 0 0 4px 0.2px black;
  margin-bottom: 0.3rem;
}

.music-item > div {
  height: 100%;
  align-items: center;
}

.music-left {
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 65%;
}
.music-left > p {
  width: 10%;
}

.music-image {
  flex-grow: 1;
  height: 70%;
  max-width: 50px;
}

.music-des {
  width: 50%;
}

.music-right > div {
  width: 100%;
}
.music-right {
  align-items: center;
  justify-content: flex-end;
  width: 30%;
}

/*grid box 3 the playlist songs ends here*/

/*grid box -4, recently played starts here*/

/*grid box-4 recenlty played end here*/

/*footer startst here*/

.player {
  /* border: 2px solid white; */
  height: 90px;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  justify-content: space-around;
  background-color: var(--m-p-color);
  /* transition: all 0.2s ease-in-out; */
  min-width: 320px;
  z-index: 1;
}

.player-item {
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
}

.player-item:nth-child(odd) {
  width: 20%;
}

.player-item:nth-child(even) {
  width: 40%;
}

.pt-1 {
  justify-content: space-around;
}

.pt-1 > div {
  width: 30%;
  /* border: 3px solid cyan; */
  height: 100%;
}

.pt-1 > div:nth-child(2) {
  width: 40%;
}

.pt-1 > div:nth-child(3) {
  width: 20%;
}

marquee > h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.player-fav {
  justify-content: space-around;
  align-items: center;
}

/*the middle player part*/

.pt-2 {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border-left:2px solid var(--m-t-l-color); */
  box-shadow: 0 0 3px 2px var(--m-p-color);
}

.pt-2-item-1 {
  width: 100%;
  /* border:2px solid orange; */
  height: 40%;
}

.pt-2-item-2 {
  width: 70%;
  height: 50%;
  /* border: 2px solid white; */
  justify-content: space-between;
}

.pt-2-item-2 {
  font-size: 1rem;
}

.pt-2-item-1 > div:nth-child(odd) {
  height: 100%;
  width: 10%;
  /* border:2px pink solid; */
}

.pt-2-item-1 > div:nth-child(even) {
  height: 100%;
  width: 80%;
  /* border:2px rgb(49, 90, 193) solid; */
}

.player-bar {
  display: flex;
  align-items: center;
}

.player-line {
  width: 100%;
  height: 3px;
  background-color: var(--m-f-color);
  border-radius: 1px;
}

.player-seek {
  position: absolute;
  width: 30%;
  height: 5px;
  background-color: var(--m-t-color);
  border-radius: 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.player-seek > div {
  height: 10px;
  width: 10px;
  background-color: var(--m-f-color);
  /* border: 2px solid var(--m-t-color); */
  box-shadow: 0 0 4px 0.3px var(--m-p-color);
  border-radius: 50%;
  cursor: pointer;
}

.pt-2-item-2 > div:nth-child(odd) {
  height: 100%;
  width: 10%;
  /* border: 2px solid orange; */
}

.pt-2-item-2 > div:nth-child(even) {
  height: 100%;
  width: 70%;
  /* border: 2px solid orange; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pt-2-item-2 > div:nth-child(even) > div {
  height: 100%;
  width: 30%;
  /* border: 2px solid rgb(0, 255, 68); */
}

.pt-3 > div {
  height: 100%;
  display: flex;
  width: 15%;
  align-items: center;
  /* border: 2px solid white; */
}

.volume {
  flex-grow: 1;
}

.volume > div {
  display: flex;
  width: 20%;
  height: 100%;
  /* border: 2px solid purple; */
  align-items: center;
}

/*player ends here   */

/*two break points*/

@media screen and (max-width: 1000px) {
  #logo-fav {
    width: 40%;
  }
  #search-user {
    width: 50%;
  }
  #content {
    grid-template-rows: 30% 70%;
  }
  .artist-box-item:nth-child(2) {
    margin-right: 0.5rem;
    width: 60%;
  }
  h2 {
    font-size: 0.8rem;
  }

  #recently-played .music-item {
    height: 50px;
  }
  .music-item p {
    margin-right: 0.5rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  .player {
    height: 60px;
  }
}

@media screen and (max-width: 620px) {
  nav {
    background-color: var(--m-p-color);
    padding: 0;
  }
  #dot {
    font-size: 0.6rem !important;
  }

  #logo-fav {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  #search-user {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .nav-inner {
    width: 60%;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  #content {
    grid-template-columns: 100%;
    grid-template-rows: 20% 30% 40% 40%;
    height: 100vh;
    position: relative;
    top: 17rem;
  }
  .artist-box-item:nth-child(2) {
    margin-right: 0.5rem;
    width: 60%;
  }
  #recently-played .music-item {
    height: 80px;
  }
  h2 {
    font-size: 0.8rem;
  }
  .player {
    height: 40px;
  }
  .player-fav {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .player i {
    font-size: 0.5rem !important;
  }
  marquee h3 {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
  }
}
